<!-- resources/mappers/StudentMapper.xml -->

<mapper xmlns="http://mybatis.org/schema/mybatis-mapper" namespace="com.bupt.eights.dao.StudentMapper">
    
    <select id="findStudentByPhoneNumber" resultType="Student">
        SELECT s.*
        FROM Student s
        INNER JOIN User u ON s.studentId = u.userId
        WHERE u.phoneNumber = #{phoneNumber}
    </select>
    
    <select id="findStudentByEmail" resultType="Student">
        SELECT s.*
        FROM Student s
        INNER JOIN User u ON s.studentId = u.userId
        WHERE u.email = #{email}
    </select>
    
    <insert id="save" parameterType="Student">
        INSERT INTO Student(`FIRST_NAME`, `LAST_NAME`, `GENDER`, `PHONE`, `USER_ID`)
        VALUES(#{firstName}, #{lastName}, #{gender}, #{phoneNumber}, #{user.userId})
    </insert>

</mapper>
