<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="username" value="eights"/>
        <property name="password" value="eights"/>
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url"
            value="jdbc:mysql://localhost:3306/eights?use&amp;nicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Shanghai&amp;allowPublicKeyRetrieval=true&amp;verifyServerCertificate=false&amp;useSSL=false"/>
    </properties>
    <typeAliases>
        <package name="com.bupt.eights.model"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="com.bupt.eights.model.AuthorityRole" jdbcType="VARCHAR"/>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="com.bupt.eights.model.Category" jdbcType="VARCHAR"/>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="com.bupt.eights.model.AppointmentStatus" jdbcType="VARCHAR"/>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="com.bupt.eights.model.Specialization" jdbcType="VARCHAR"/>
    </typeHandlers>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/bupt/eights/mappers/UserMapper.xml"/>
        <mapper resource="com/bupt/eights/mappers/RoomMapper.xml"/>
        <mapper resource="com/bupt/eights/mappers/StudentMapper.xml"/>
        <mapper resource="com/bupt/eights/mappers/AppointmentMapper.xml"/>
    </mappers>
</configuration>