<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bupt.eights.dao.AppointmentMapper">
    <select id="findOne" resultType="Appointment">
        SELECT a.*
        FROM Appointment a
        WHERE appointmentId = #{appointmentId}
    </select>
    
    <insert id="save" parameterType="Appointment">
        INSERT INTO Appointment(date, time, notes, status, studentName, roomName)
        VALUES(#{date}, #{time}, #{notes}, #{appointmentStatus, typeHandler=org.apache.ibatis.type.EnumTypeHandler}, #{student.name}, #{room.name});
    </insert>
</mapper>