<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bupt.eights.dao.RoomMapper">
    <select id="findRoomById" resultType="Room">
        SELECT r.*
        FROM Room r
        INNER JOIN User u ON r.roomId = u.userId
        WHERE r.roomId = #{roomId}
    </select>
    
    <select id="findRoomByName" resultType="Room">
        SELECT r.*
        FROM Room r
        INNER JOIN User u ON r.roomId = u.userId
        WHERE r.name = #{name}
    </select>
    
    <select id="findRoomByAddress" resultType="Room">
        SELECT r.*
        FROM Room r
        INNER JOIN User u ON r.roomId = u.userId
        WHERE r.address = #{address}
    </select>
    
    <select id="findRoomsBySpecialization" resultType="Room">
        SELECT r.*
        FROM Room r
        WHERE r.specialization = #{specialization, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
    </select>
    
    <insert id="save" parameterType="Room">
        INSERT INTO Room(`NAME`, `ADDRESS`, `CATEGORY`, `SPECIALIZATION`)
        VALUES(#{name}, #{address}, #{category, typeHandler=org.apache.ibatis.type.EnumTypeHandler}, #{specialization, typeHandler=org.apache.ibatis.type.EnumTypeHandler})
    </insert>
</mapper>